.App {
  display: flex;
  flex-direction: row;
  width: fit-content;
  background: lightgray;
  padding: 20px;
  margin: 30px auto;
}

.column {
  display: flex;
  flex-direction: column-reverse;
}

.cell {
  margin: 7px;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  background: white;
}

.cell.black {
  background: black;
}

.cell.red {
  background: red;
}
